* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../images/967674.jpg") no-repeat center center;
  background-size: cover;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

main .quote {
  font-size: 2.7rem;
  font-family: 'Playfair Display', serif;
  margin: 3rem auto;
  width: 70vw;
}

@media screen and (max-width: 1400px) {
  main .quote {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1000px) {
  main .quote {
    font-size: 2.3rem;
    width: 80vw;
  }
}

@media screen and (max-width: 800px) {
  main .quote {
    font-size: 2rem;
  }
}

@media screen and (max-width: 500px) {
  main .quote {
    font-size: 1.7rem;
    margin: 1.5rem auto;
    width: 90vw;
  }
}

@media screen and (max-width: 350px) {
  main .quote {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  main .quote {
    font-size: 1.3rem;
  }
}

@media screen and (max-height: 500px) {
  main .quote {
    margin: 3% auto;
  }
}

main section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 3rem 0;
}

@media screen and (max-width: 1400px) {
  main section {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 500px) {
  main section {
    margin: 1.5rem 0;
  }
}

main section .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 800px) {
  main section .info {
    display: block;
  }
}

main section .info .date h1 {
  font-size: 2.5rem;
}

@media screen and (max-width: 430px) {
  main section .info .date h1 {
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 300px) {
  main section .info .date h1 {
    font-size: 1.5rem;
  }
}

main section .info .date h4 {
  font-size: 1.5rem;
}

@media screen and (max-width: 430px) {
  main section .info .date h4 {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 300px) {
  main section .info .date h4 {
    font-size: 1rem;
  }
}

main section .info .weather-icon {
  font-size: 4rem;
}

@media screen and (max-width: 430px) {
  main section .info .weather-icon {
    font-size: 3rem;
  }
}

@media screen and (max-width: 300px) {
  main section .info .weather-icon {
    font-size: 2.5rem;
  }
}

main section .info .deg {
  font-size: 1.2rem;
}

@media screen and (max-width: 430px) {
  main section .info .deg {
    font-size: 1rem;
  }
}

@media screen and (max-width: 300px) {
  main section .info .deg {
    font-size: 0.8rem;
  }
}

main .time-and-weather {
  width: 50%;
  background: url("../images/bright-background-with-dots_1055-3132.jpg") no-repeat center center;
  background-size: cover;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  main .time-and-weather {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {
  main .time-and-weather {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  main .time-and-weather {
    width: 90%;
    margin: 0 auto;
    border-radius: 7px;
  }
}

@media screen and (max-width: 350px) {
  main .time-and-weather {
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
  }
}

main .temp-and-info {
  font-size: 1rem;
  padding: 0.5rem 0;
}

main .temp-and-info .temp-and-info-rows {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  text-align: center;
}

@media (max-width: 400px) {
  main .temp-and-info .temp-and-info-rows {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 350px) {
  main .modal-title {
    font-size: 1rem;
  }
}

main .modal-body i {
  font-size: 3rem;
}

@media (max-width: 992px) {
  main .modal-body i {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  main .modal-body h5 {
    font-size: 1rem;
  }
}

main .stop-watch {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr auto;
      grid-template-columns: 3fr auto;
}

main .stop-watch .timing {
  font-size: 2.5rem;
}

@media (max-width: 350px) {
  main .stop-watch .timing {
    font-size: 2.2rem;
  }
}

@media (max-width: 270px) {
  main .stop-watch .timing {
    font-size: 1.8rem;
  }
}

main .stop-watch #play-pause-watch {
  font-size: 2rem;
}

@media (max-width: 350px) {
  main .stop-watch #play-pause-watch {
    font-size: 1.5rem;
  }
}

@media (max-width: 270px) {
  main .stop-watch #play-pause-watch {
    font-size: 1.2rem;
  }
}

@media (max-width: 230px) {
  main .stop-watch {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

main .add-todo {
  width: 50%;
  background-color: lightgray;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  main .add-todo {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {
  main .add-todo {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  main .add-todo {
    width: 90%;
    margin: 0 auto;
    border-radius: 7px;
  }
}

@media screen and (max-width: 350px) {
  main .add-todo {
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
  }
}

@media screen and (max-width: 500px) {
  main .add-todo h3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  main .add-todo h3 {
    font-size: 1.4rem;
  }
}

main .add-todo i {
  font-size: 1.8rem;
}

@media screen and (max-width: 350px) {
  main .add-todo i {
    font-size: 1.5rem;
  }
}

main .todo {
  background: lightcoral;
  width: 50%;
  border-radius: 10px;
}

@media screen and (max-width: 1000px) {
  main .todo {
    width: 70%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 850px) {
  main .todo {
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {
  main .todo {
    width: 90%;
    margin: 0 auto;
    border-radius: 7px;
  }
}

@media screen and (max-width: 350px) {
  main .todo {
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
  }
}

main .todo h5 {
  font-size: 1.2rem;
}

main .todo i {
  font-size: 1.3rem;
}

@media screen and (max-width: 350px) {
  main .todo h5 {
    font-size: 1rem;
  }
  main .todo i {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1400px) {
  main {
    height: 100%;
    background-size: cover;
    -ms-grid-rows: 20% 80%;
        grid-template-rows: 20% 80%;
  }
  main #todo-section {
    margin: 3% 0;
  }
}

@media screen and (max-height: 500px) {
  main {
    -ms-grid-rows: auto;
        grid-template-rows: auto;
  }
}

.water-mark {
  font-size: 1rem;
}

@media (max-width: 300px) {
  .water-mark {
    font-size: 0.8rem;
  }
}
/*# sourceMappingURL=style.css.map */